/.gradle/
/.idea/
/local.properties
/app/build/
/.idea/
/.idea/codeStyles/
/.idea/libraries/
/.idea/modules/
/.idea/.gitignore
/.idea/.name
/.idea/ANDROID--TheAudioDB.iml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
